<a href="https://colab.research.google.com/github/RojaCM/NLP/blob/main/Tweets%20Analysys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#1.Load the tweets file using read_csv function from Pandas package.

In [ ]:
#reading the data
df=pd.read_csv('TwitterHate.csv')

In [ ]:
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [ ]:
df['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [ ]:
#Get the tweets into a list for easy text cleanup and manipulation.

tweets=df['tweet'].values

# Normalize the casing.

In [ ]:
df['tweet']=df['tweet'].str.lower()

# Using regular expressions, remove user handles. These begin with '@’.

In [ ]:
type(tweets)

list

In [ ]:
import re

In [ ]:
def remove_user_handles(tweet):

    return re.sub(r'@\w+','',tweet)

In [ ]:
df['tweets1']=df['tweet'].apply(remove_user_handles)

In [ ]:
df.head()

,label,tweet,tweets1
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,0,bihday your majesty,bihday your majesty
3,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,0,factsguide: society now #motivation,factsguide: society now #motivation

In [ ]:
def remove_url(tweet):

    return re.sub("\w+://\S+","",tweet)

In [ ]:
df['tweets2']=df['tweets1'].apply(remove_url)

In [ ]:
import nltk

In [ ]:
from nltk.corpus import stopwords

In [ ]:
from nltk.tokenize import TweetTokenizer

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AG14432\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
tokenizer=TweetTokenizer()

In [ ]:
def tokenizer_fun(tweet):
    return tokenizer.tokenize(tweet)

In [ ]:
df['tweets3']=df['tweets2'].apply(tokenizer_fun)

In [ ]:
df.head()

,label,tweet,tweets1,tweets2,tweets3
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunctional, and, is, ..."
1,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...,thanks for #lyft credit i can't use cause th...,"[thanks, for, #lyft, credit, i, can't, use, ca..."
2,0,bihday your majesty,bihday your majesty,bihday your majesty,"[bihday, your, majesty]"
3,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#model, i, love, u, take, with, u, all, the, ..."
4,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation,"[factsguide, :, society, now, #motivation]"

Remove stop words.

In [ ]:
stopwords=set(stopwords.words('english'))

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AG14432\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
def remove_stopwords(tweet):
    tokens= [i for i in tweet if i not in stopwords]
    return tokens

In [ ]:
df['tweets4']=df['tweets3'].apply(remove_stopwords)

In [ ]:
df.head()

,label,tweet,tweets1,tweets2,tweets3,tweets4
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunctional, and, is, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...,thanks for #lyft credit i can't use cause th...,"[thanks, for, #lyft, credit, i, can't, use, ca...","[thanks, #lyft, credit, can't, use, cause, off..."
2,0,bihday your majesty,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#model, i, love, u, take, with, u, all, the, ...","[#model, love, u, take, u, time, urð, , , ±,..."
4,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation,"[factsguide, :, society, now, #motivation]","[factsguide, :, society, #motivation]"

Remove redundant terms like ‘amp’, ‘rt’, etc.

In [ ]:
def remove_redundant(tweet):
    tokens= [i for i in tweet if i not in ['amp','rt']]
    return tokens

In [ ]:
df['tweets5']=df['tweets4'].apply(remove_redundant)

In [ ]:
df.drop('tweets5',axis=1,inplace=True)

In [ ]:
df.head()

,label,tweet,tweets1,tweets2,tweets3,tweets4,tweets5
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunctional, and, is, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...,thanks for #lyft credit i can't use cause th...,"[thanks, for, #lyft, credit, i, can't, use, ca...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, #lyft, credit, can't, use, cause, off..."
2,0,bihday your majesty,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesty]"
3,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#model, i, love, u, take, with, u, all, the, ...","[#model, love, u, take, u, time, urð, , , ±,...","[#model, love, u, take, u, time, urð, , , ±,..."
4,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation,"[factsguide, :, society, now, #motivation]","[factsguide, :, society, #motivation]","[factsguide, :, society, #motivation]"

Extra cleanup by removing terms with a length of 1.

In [ ]:
def remove_token_lenght1(tweet):
    tokens= [i for i in tweet if len(i)>1]
    return tokens

In [ ]:
df['tweets6']=df['tweets5'].apply(remove_token_lenght1)

In [ ]:
df.head()

,label,tweet,tweets1,tweets2,tweets3,tweets4,tweets5,tweets6
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunctional, and, is, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...,thanks for #lyft credit i can't use cause th...,"[thanks, for, #lyft, credit, i, can't, use, ca...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, #lyft, credit, can't, use, cause, off..."
2,0,bihday your majesty,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesty]","[bihday, majesty]"
3,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#model, i, love, u, take, with, u, all, the, ...","[#model, love, u, take, u, time, urð, , , ±,...","[#model, love, u, take, u, time, urð, , , ±,...","[#model, love, take, time, urð]"
4,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation,"[factsguide, :, society, now, #motivation]","[factsguide, :, society, #motivation]","[factsguide, :, society, #motivation]","[factsguide, society, #motivation]"

In [ ]:
df.tweets6.sample().values

array([list(['way', '#emeraldstreetlitfest', 'first', 'ever', '#litfest', '#books'])],
      dtype=object)

In [ ]:
#Remove ‘#’ symbols from the tweet while retaining the term.

In [ ]:
def remove_hashtags(tweet):
    modified_tweet= re.sub(r'#(\w+)\b',r'\1',str(tweet))
    return ast.literal_eval(modified_tweet)

In [ ]:
df['tweets7']=df['tweets6'].apply(remove_hashtags)

In [ ]:
df.head()

,label,tweet,tweets1,tweets2,tweets3,tweets4,tweets5,tweets6,tweets7
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunctional, and, is, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...,thanks for #lyft credit i can't use cause th...,"[thanks, for, #lyft, credit, i, can't, use, ca...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, lyft, credit, can't, use, cause, offe..."
2,0,bihday your majesty,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesty]","[bihday, majesty]","[bihday, majesty]"
3,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#model, i, love, u, take, with, u, all, the, ...","[#model, love, u, take, u, time, urð, , , ±,...","[#model, love, u, take, u, time, urð, , , ±,...","[#model, love, take, time, urð]","[model, love, take, time, urð]"
4,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation,"[factsguide, :, society, now, #motivation]","[factsguide, :, society, #motivation]","[factsguide, :, society, #motivation]","[factsguide, society, #motivation]","[factsguide, society, motivation]"

In [ ]:
def remove_non_alphanum(tweet):
    tokens_list=[i for i in tweet if i.isalnum()]
    return tokens_list

In [ ]:
df['tweets8']=df['tweets7'].apply(remove_non_alphanum)

In [ ]:
df.head()

,label,tweet,tweets1,tweets2,tweets3,tweets4,tweets5,tweets6,tweets7,tweets8
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunctional, and, is, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...,thanks for #lyft credit i can't use cause th...,"[thanks, for, #lyft, credit, i, can't, use, ca...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, #lyft, credit, can't, use, cause, off...","[thanks, lyft, credit, can't, use, cause, offe...","[thanks, lyft, credit, use, cause, offer, whee..."
2,0,bihday your majesty,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesty]","[bihday, majesty]","[bihday, majesty]","[bihday, majesty]"
3,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#model, i, love, u, take, with, u, all, the, ...","[#model, love, u, take, u, time, urð, , , ±,...","[#model, love, u, take, u, time, urð, , , ±,...","[#model, love, take, time, urð]","[model, love, take, time, urð]","[model, love, take, time, urð]"
4,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide: society now #motivation,"[factsguide, :, society, now, #motivation]","[factsguide, :, society, #motivation]","[factsguide, :, society, #motivation]","[factsguide, society, #motivation]","[factsguide, society, motivation]","[factsguide, society, motivation]"

In [ ]:
from collections import Counter

In [ ]:
tokens_list=[j for i in df['tweets8'] for j in i]

In [ ]:
most_common_tokens=Counter(tokens_list).most_common(10)

In [ ]:
most_common_tokens

[('love', 2748),
 ('day', 2276),
 ('happy', 1684),
 ('time', 1131),
 ('life', 1118),
 ('like', 1047),
 ('today', 1013),
 ('new', 994),
 ('thankful', 946),
 ('positive', 931)]